body{
    background: #BDBDBD;
}

.jumbotron {
    background-image: url("../img/bg.jpg");
    background-size: 100%;
    background-repeat: no-repeat;
    padding-top: 80px;
    padding-bottom: 380px;
}

h1 {
    text-align: center;
    font-size: 120px;
    background-color: white;
}

h2 {
    text-align: center;
    font-size: 70px;
    background-color: white;
    margin-top: 20px;
}

.first-heading {
    margin-top: 80px;
    background-color: white;
    padding-top: 40px;
    padding-bottom: 40px;
}

.heading-image {
    background-image: url("../img/1.jpg");
    background-repeat: no-repeat;
    border-radius: 50%;
}

.second-heading {
    margin-top: 20px;
    background-color: white;
}

.portfolio {
    background-color: white;
    text-align: start;
    padding-top: 20px;
    padding-bottom: 80px;
    padding-left: 80px;
    padding-right: 80px;
}

.grey {
    color: grey;
}