body{
    background: white;
    margin: 0;
}

.jumbotron {
    background-image: url("../img/bg.jpg");
    background-size: 100%;
    background-repeat: no-repeat;
    padding-top: 80px;
    padding-bottom: 380px;
}

h1 {
    text-align: center;
    font-size: 120px;
    background-color: white;
}

h2 {
    text-align: center;
    font-size: 70px;
    background-color: white;
    margin-top: 20px;
}

.section {
    display: inline-block;
}

.first-heading-text {
    margin-top: 80px;
    border-top: 5px;
    background-color: white;
    padding-top: 80px;
    padding-left: 80px;
    padding-right: 120px;
    padding-bottom: 80px;
}

.first-heading-image {
    background-image: url("../img/1.jpg");
    border-radius: 50%;
    height: 500px;
    width: 500px;
    background-repeat: no-repeat;
}

.second-heading-text {
    margin-top: 20px;
    background-color: white;
    padding-top: 80px;
    padding-left: 120px;
    padding-right: 80px;
    padding-bottom: 80px;
}

.second-heading-image {
    background-image: url("../img/2.jpg");
    border-radius: 50%;
    height: 500px;
    width: 500px;
    background-repeat: no-repeat;
}

.portfolio {
    margin-top: 20px;
    margin-bottom: 20px;
    background-color: white;
    text-align: start;
    padding-top: 20px;
    padding-bottom: 80px;
    padding-left: 80px;
    padding-right: 80px;
}

.grey {
    color: grey;
}

.contact-text {
    margin-top: 20px;
    background-color: white;
    text-align: start;
    padding-top: 20px;
    padding-bottom: 80px;
    padding-left: 80px;
    padding-right: 80px;
}

.square-form {
    outline: 2px solid grey;
    padding: 20px;
    margin-left: 80px;
    margin-right: 80px;
}

.contact-form {
    margin-top: 20px;
    padding-left: 350px;
    padding-right: 350px;
}