<!-- your html code here -->
<div class="contact">
  <h3>Contact</h3>
  <p>Donec ullamcorper nulla non metus auctor fringilla. Vestibulum id ligula porta felis euismod semper. Praesent commodo cursus magna, vel scelerisque nisl consectetur. Fusce dapibus, tellus ac cursus commodo.</p>

  <form class="contact-form">
    <div class="mb-3">
      <label for="exampleFormControlInput1" class="form-label"><strong>Your E-mail</strong></label>
      <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="Your email">
    </div>
    <div class="mb-3">
      <label for="exampleFormControlTextarea1" class="form-label"><strong>Your message</strong></label>
      <textarea class="form-control" id="exampleFormControlTextarea1" rows="3" placeholder="Please enter your message here..."></textarea>
    </div>
    <div class="d-grid gap-2 d-md-flex justify-content-md-end">
      <button class="btn btn-primary" type="submit">Submit</button>
    </div>
  </form>

</div>