<!-- your html code here -->
<div class="section">
    <div class="first-heading-text" style="float: left;">
        <h3>This First Heading <span class="grey">Will Catch Your Eye</span></h3>
        <p style="padding-right: 400px;">Donec ullamcorper nulla non metus auctor fringilla. Vestibulum id ligula porta felis euismod semper. Praesent commodo cursus magna, vel scelerisque nisl consectetur. Fusce dapibus, tellus ac cursus commodo.</p>
        <div class="first-heading-image" style="float: right;">
            
        </div>
    </div>
</div>