<!-- your html code here -->
<div class="portfolio">
    <h3>Portfolio</h3>
    <p>Donec ullamcorper nulla non metus auctor fringilla. Vestibulum id ligula porta felis euismod semper. Praesent commodo cursus magna, vel scelerisque nisl consectetur. Fusce dapibus, tellus ac cursus commodo.</p>
</div>

<div class="card-row">
    <div class="card" style="width: 18rem;">
        <img src="../assets/img/big-project-image.png" class="card-img-top" alt="...">
        <div class="card-body">
        <h5 class="card-title text-primary">Project Name</h5>
        <p class="card-text">Lorem Ipsum dolor sit amet, consectetur adipiscing elit. Nam viverra euismod odio, gravida pellentesque urna varius vitae.</p>
        </div>
    </div>

    <div class="card" style="width: 18rem;">
        <img src="../assets/img/big-project-image.png" class="card-img-top" alt="...">
        <div class="card-body">
        <h5 class="card-title text-primary">Project Name</h5>
        <p class="card-text">Lorem Ipsum dolor sit amet, consectetur adipiscing elit. Nam viverra euismod odio, gravida pellentesque urna varius vitae.</p>
        </div>
    </div>

    <div class="card" style="width: 18rem;">
        <img src="../assets/img/big-project-image.png" class="card-img-top" alt="...">
        <div class="card-body">
        <h5 class="card-title text-primary">Project Name</h5>
        <p class="card-text">Lorem Ipsum dolor sit amet, consectetur adipiscing elit. Nam viverra euismod odio, gravida pellentesque urna varius vitae.</p>
        </div>
    </div>
</div>