<!-- your html code here -->
<div class="section border-top">
    <div class="second-heading-text" style="float: right;">
        <h3 style="padding-left: 400px;">The Second Heading <span class="grey">Is Pretty Cool Too</span></h3>
        <p style="padding-left: 400px;">Donec ullamcorper nulla non metus auctor fringilla. Vestibulum id ligula porta felis euismod semper. Praesent commodo cursus magna, vel scelerisque nisl consectetur. Fusce dapibus, tellus ac cursus commodo.</p>
        <div class="second-heading-image" style="float: left;">
            
        </div>
    </div>
</div>